{% extends 'base.html' %}

{% block header %}
<div class="columns is-mobile is-centered">
  <div class="column is-narrow">
    <h1>{% block title %}Report{% endblock %}</h1>

  </div>
</div>
{% endblock %}

{% block content %}
<span id="key" style="visibility: hidden" >{{ key }}</span>

<div class="columns is-mobile is-centered">
  <div class="column is-half" >
    <article class="panel is-info">
    <div class="level panel-heading">
     
        <p style="margin-top: 10px; margin-bottom: 5px;">
            Details 
        </p>
        <p style="margin-top: 10px; margin-bottom: 5px;">
            {{ time }}
        </p>
        <p>
            <a class="button is-rounded is-danger"  href="{{ url_for('scanner.delete_report', scan_id=scan_id ) }}">Delete</a>

        </p>
      
    </div>
     
     
    <table class="table is-striped is-bordered" style=" word-wrap: break-word; table-layout: fixed;" >
                <thead class="is-info" style="background-color: hsl(204, 86%, 53%); ">
                    <tr>
                        <th colspan="3"> <abbr title="Payload" style="color: #fff"  > Payload</abbr> </th>
                        <th> <abbr title="Status" style="color: #fff">  Status </abbr> </th>
                    </tr>
                </thead>
                <tbody>
                    {% if reports|length > 0 %}
                        {% for report, status in reports %}
                        <tr >
                            <td style="word-wrap: break-word;" colspan="3"> {{ report }} </td>
                            {% if status == "bypassed" %}
                                <td style="color: green; word-wrap: break-word;"> {{ status }} </td>
                            {% endif %}
                            {% if status == "blocked" %}
                                <td style="color: crimson; word-wrap: break-word;"> {{ status }} </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

    </article>
  </div>
</div>
{% endblock %}

