{% extends 'base.html' %}

{% block header %}
  <div class="columns is-mobile is-centered">
    <div class="column is-narrow">
        <h1>{% block title %}Register{% endblock %}</h1>
      </div>
    </div>
{% endblock %}
  
{% block content %}


<div class="columns is-mobile is-centered">
    <div class="column is-half">
      <form method="post">
      
        <div class="field">
          <label class="label">Username</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" name="username" type="text" placeholder="username" id="username" required>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
        </div>
      
        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" name="password" type="password" placeholder="password" id="password" required> 
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
        </div>
      
        <div class="field">
          <label class="label">Repeat passsword</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" name="repeat_password" type="password" placeholder="Repeat" id="repeat_password" required>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
        </div>
      
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Sign Up</button>
          </div>
          <div class="control">
            <button class="button is-link is-light" href="{{ url_for('blog.index') }}">Cancel</a>
          </div>
        </div>
      
      </form>
    </div>
</div>

{% endblock %}