<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

<script>
 
  function get_key(){
      // fetch("http://0.0.0.0:5000/scanner/key")
      //     .then(response => response.json())
      //     .then(auth_key => {
      //         console.log(auth_key)
      //     })
      // .catch(err => console.log(err))
      $.ajaxSetup({
        type: "POST",
        data: {},
        dataType: 'json',
        xhrFields: {
           withCredentials: true
        },
        crossDomain: true,
        contentType: 'application/json; charset=utf-8'
      });

      $.ajax({
            type: "GET",
            url: "http://0.0.0.0:5000/scanner/key",
            success: function (data) { 
                console.log(data['auth_key'])
                document.getElementById("key").innerHTML = data['auth_key']
          },
        });                

  }
</script>  
<nav>
  <h1>Flaskr</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>